@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
* div {
  background-size: cover;
  background-position: top;
  transition: 0.4s ease-out;
}

body {
  font-family: 'Quicksand', sans-serif;
}
input::placeholder {
  color: #000;
  font-weight: 500;
}

.App.night {
  background-image: url('./assets/background/night.webp');
}
.App.day {
  background-image: url('./assets/background/after_noon.webp');
}

.Snow {
  background-image: url('./assets/background/Snowing.png');
}
.Clouds {
  background-image: url('./assets/background/Clouds.png');
}
.Clear {
  background-image: url('./assets/background/Sunny.png');
}
.Rain {
  background-image: url('./assets/background/Rain.png');
}

.home-page {
  font-size: 52px;
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  ); */
}

.search-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.search-bar {
  width: 90%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-out;
}
.search-bar:focus {
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8);
}

.weather-box {
  text-align: center;
}

.location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 15px 25px;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.temp-feels {
  font-size: 30px;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.wind {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 3px rgba(50, 50, 70, 0.5);
}
.weather {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}
